.wrapper-laboratory-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg,
    var(--color-background-start),
    var(--color-background-end) 100%
  );
}

.laboratory-block {
  width: 1400px;
  min-height: 26.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
}

.laboratory-title-pc {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  font-weight: 600;
  text-align: left;
  margin-bottom: 2.25rem;
}
.laboratory-title-mobile {
  display: none;
}
.description-laboratory {
  color: var(--color-secondary);
  font-size: var(--font-size-medium);
  font-weight: 400;
  text-align: left;
  margin-bottom: 2.25rem;
}

button::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../../public/images/arrow.svg");
  margin-left: 0.625rem;
  margin-top: 0.25rem;
}

.laboratory-img {
  width: 50rem;
  height: 26.75rem;
}

@media (max-width: 1140px) {
  .wrapper-laboratory-section {
    display: block;
    padding: 1.88rem 1.13rem 1.88rem 1.13rem;
  }
  .laboratory-title-pc {
    display: none;
  }
  .laboratory-title-mobile {
    color: var(--color-primary);
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .laboratory-block {
    width: 100%;
    flex-direction: column;
    padding: 0;

    div {
      order: 2;
    }
    img {
      order: 1;
    }
  }
}
